* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gothic A1', sans-serif;
    background-color: #ECEBE7; 
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 6px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.bold-link {
    font-weight: bold;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo {
    height: 50px;  
}

nav  {
    background: #231F20;
    height: 80px;
    width:100%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px; 
    margin-right: 50px;
}

nav ul li {
    line-height: 80px;
}

nav ul li a {
    color: #E4C267;
    text-decoration: none;
    font-size: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
}

th:nth-child(1) { width: 13%; } /* Reserve Date */
th:nth-child(2) { width: 12%;} /* Reserve Time */
th:nth-child(3) { width: 20%; } /* Owner Name */
th:nth-child(4) { width: 10%; } /* Pet Name */
th:nth-child(5) { width: 12%; }  /* Breed */
th:nth-child(6) { width: 9%; } /* Mobile Number */
th:nth-child(7) { width: 8%; } /* Groomer */
th:nth-child(8) { width: 20%; } /* Note */
tbody tr:nth-child(odd) {
    background-color: #ECEBE7;
} 